@import "tailwindcss";
@import "./svg-block.css";
body {
    margin: 0!important;
}

.menu {
    ul {
    margin: 0px;
    padding: 0px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #121212;
            }
        }
    }
}

